/* Styles for the board, squares, buttons */
:root{
    --player1Color:#000000
    --player2Color:#ff0000
    --blackSquareColor:#000000
}
.board{
    display: grid;
    grid-auto-flow: row;
    max-width: 640px;
    width: 90%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(8,12.5%);
    border: 2px solid black;
    border-radius: 20px;
}

.rotate-180{
    transform: rotateX(180deg);
}
.rotate-0{
    transform: none;
}

.winAnimation{
    animation-name: winAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes winAnimation {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}
.rotation-button{
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 4px;
    color: white;
    font-weight: bolder;
}
.rotation-button-player-1{
    background: linear-gradient(90deg,black 10%,red 60%,black 90%);
}
.rotation-button-player-2{
    background: linear-gradient(90deg,red 5%,black 50%,red 95%);
}

.square{
    background-color: rgba(255, 192, 203,0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Corner squares */
.bottom-right-corner-square{
    border-bottom-right-radius: 18px;
}
.top-left-corner-square{
    border-top-left-radius: 18px;
}
.top-right-corner-square{
    border-top-right-radius: 18px;
}
.bottom-left-corner-square{
    border-bottom-left-radius: 18px;
}
/*button thats selected should flash*/
.selected div{
    background-color: #dee8e1;
    
    
}
.black{
    background: rgb(74, 60, 60);
}
.button.highlight{
    opacity: 0.5;
    width: 25%;
    height: 25%;
}
.highlight{
    background: rgb(78, 237, 237);
}
/* .square.is-moveable:hover{
    background-color: rgb(65, 209, 209);
} */
/* .square.has-button-on-it:hover{
    background-color: rgb(219, 73, 185);
} */
.button:hover{
    opacity: 0.7;
}
.button{
    margin: auto;
    /* margin-top: 25%; */
    /* background-color: antiquewhite; */
    display: flex;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.clicked{
    background-color: aquamarine;
}
.player-1{
    background-color: black;
    color: black
}
.player-2{
    background-color: red;
    color: red;
}
.player-1-text{
    color: black
}
.player-2-text{
    color: var(--player2Color);
}
.player-1.king{
    /* background-color: rgb(43, 41, 41); */
    color: white;
    align-items: center;
    justify-content: center;
}
.player-2.king{
    color: white;
    /* background-color: rgb(184, 40, 69); */
    align-items: center;
    justify-content: center;
    
}
.button{
    text-align: center;
}
.forfeit-btn{
    width: 20%;
    margin:15px;
    background: red;
    color: rgba(255, 255, 255, 0.66);
    font-weight:bolder;
    
}
.forfeit-btn:hover{
    color: rgb(255, 255, 255);
}
.forfeit-modal{
    margin-top: 15px;
    border:solid 1px black;
    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
    border-radius: 10px;
}
.forfeit-modal button{
    margin: 15px auto;
    width: 70%;
    color: white;
    font: bolder;
    font-size:large;
}
.forfeit-modal .cancel-btn{
    background: linear-gradient(90deg,red,darkred);
}
.forfeit-modal .confirm-btn{
    background: linear-gradient(90deg,green, lightgreen);
}